/*
*{
    color:red;
}
*/
/*
div{
    color:black;
    font-family: "Times New Roman",sans-serif;
    font-size:22px;
    font-weight: bold;
    text-align: right;
}
.alert-text{
    color:red;
}
#title{
    background-color: red;
}
.read,
.unread,
#preview{
    color:white;
    background-color: black;
}
.read{
    font-size: large;
}
.unread{
    font-size: xx-large;
}
.subsection.header{
    color:red;
}
.subsection#preview{
    color:blue;
}
.ancestor .contents{
    color:hsla(120,100%,50%,1.0);
}
img{
    height: auto;
    width: 200px;
}
*/
/*
.list.subsection{
    background-color: yellow;
    color:blue;
}
.main > .list{
    color:red;
}
*/
/*
*{
    color: black;
}
h1{
    color: orange;
}
*/
/*
#parent{
    color: red;
}
.child{
    color: blue;
}
*/
/*
.warning{
    color:yellow;
}
.alert{
    color: red;
}
*/
/*
div{
    color:white;
    background-color: black;
}
p{
    color: red;
}
*/
*{
    padding:0;
    margin:0;
    font-size: 40px;
    box-sizing: border-box;
}

.box-one{
    background-color: pink;
    padding: 10px;
    height: 100px;
    width: 100px;
    border: 20px solid purple;
    margin: 100px;
    
}

.box-two{
    background-color: blue;
    border:0 solid lightgreen;
    padding: 10px;
    height: 100px;
    width: 100px;
    border: 20px solid purple;
    margin: 70px;
}